[Unit]
Description=High-Fortress User sysctl
Documentation=file://__HF_BASE__
After=systemd-sysctl.service network-online.target
Wants=systemd-sysctl.service

[Service]
Type=oneshot
RemainAfterExit=yes
ExecStart=__HF_BASE__/cron/bin/hfu-sysctl-apply.sh

[Install]
WantedBy=multi-user.target
